<form class="comments comment-form">
    <div class="comments-title">
        <h3>New Post:</h3><h4 id="post-id">{{post.id}}</h4>
    </div>
    <div class="post-title-text">
        <h4>Post Title:</h4>
        <textarea name="post-title">{{post.title}}</textarea>
    </div>
    <div>
        <h4 class="post-title-text">Post:</h4>
        <textarea name="post-body">{{post.post_content}}</textarea>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<script src="/js/edit.js"></script>
</section>
