:root {
    --primary-color: #A9A9A9;
    --secondary-color: #895757;
    --tertiary-color: #CBABAB;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    border-bottom: 2px sold var(--primary-color);
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    margin-left: 15px;
    padding: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
    border: 2px solid var(--secondary-color);
    border-radius: 10px;

}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
}

header nav {
    margin: 7px 0;
    width: 100%;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 10px 15px;
    font-weight: lighter;
    font-size: 2vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px 10px;
    width: 75%;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    background-color: var(--primary-color);
}

.post h3 {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }
}